header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black{
    background-color: #141414;
}

.header--logo {
    height: 25px;
}

.header--logo img{
    height: 100%;
}

.header--menu{
    margin-left: -30rem;
}

.header--menu > ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.header--menu > ul > li{
    padding: 1rem;
}

.header--user{
    display: flex;
    align-items: center;
    height: 35px;
}

.header--user img{
    width: 35px;
    height:35px;
    border-radius: 3px;
}

.header--right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--search{
    padding-right: 2rem;
}

.header--search > input{
    padding: .6rem;
    padding-left: 2.3rem;
    width: 17rem;
    border-radius: .5rem;
    outline: none;
    border:none;
    background-color: rgba(240, 216, 216, 0.6);
    color: #333;
}

.header--search > input::placeholder{
    padding-left: 0rem;
    color: #000;
}

.header--search > button{
    background-color: transparent;
    border: none;
    margin-right: -1.5rem;
}

.ico--search{
    margin: 0px -29px -8px;
    color: #fff;
}

.ico--search:hover{
    cursor: pointer;
}

.ico--close{
    position: absolute;
    visibility: visible;
    color: #fff;
    outline: none;
    margin: 6px 0px 0px -32px;
}


.ico--close:hover{
    cursor: pointer;
}

.ico--notify{
    margin: 0px 24px 5px 0px;
    color: #fff;
}

.ico--notify:hover{
    cursor: pointer;
}

